* {
    background-color:black;
    color: white;
    }
.header {
    background-color: antiquewhite;
    padding: 50px;
    padding-inline-end: 90%;
}

ul {
    display:flex;
}

.image {
    margin:10px;
    
}